.navbar {
    background-color: #6a5acd;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  